<center>
	<form>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th></th>
								<th>Code</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
							<tr>
								<th></th>
								<th><input type="text" ng-model="search.ptCode" placeholder="Code"/></th>
								<th><input type="text" ng-model="search.ptName" placeholder="Name"></th>
								<th><input type="text" ng-model="search.ptDesc" placeholder="Description"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pt in productType |
						orderBy:'+piId' | filter:search:strict ">
								<td><input type="radio" ng-click="vm.getType(pt)" />
								<td>{{pt.ptCode}}</td>
								<td>{{pt.ptName}}</td>
								<td>{{pt.ptDesc}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</center>