<head>
<meta charset="UTF-8" />
<style type="text/css">
</style>
</head>

<div class="pull-right">
	<select ng-model="vm.selectedNumPerPagDialog"
		ng-selected="vm.numPerPage = vm.selectedNumPerPage.number"
		ng-options="n.number for n in vm.numPerPages"
		class="input-sm form-control selector-option"></select>
</div>
<table st-table="displayedCustomer" wt-responsive-table
	st-safe-src="custList" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="text-center" st-sort="custCode">รหัสลูกค้า</th>
			<th class="text-center" st-sort="custName">ชื่อลูกค้า</th>
			<th class="text-center">เบอร์โทร</th>
		</tr>
		<tr>
			<td><input type="text" placeholder="รหัสประเภท"
				st-search="custCode" class="form-control"></td>
			<td><input type="text" placeholder="ชื่อประเภท"
				st-search="custName" class="form-control"></td>
			<td><input type="text" placeholder="เบอร์โทร"
				st-search="custPhone" class="form-control"></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in displayedCustomer"
			ng-click="setCustClickedRow(row)">
			<td>{{row.custCode | uppercase}}</td>
			<td>{{row.custName}}</td>
			<td>{{row.custPhone}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="11" class="text-center">
				<div st-pagination="" st-items-by-page="vm.numPerPage"
					st-displayed-pages="displayedPages"
					st-template="app/common/pagination/pagination.tpl.html"></div>
			</td>
		</tr>
	</tfoot>
</table>