.btn-submit-width {
	width: 10em;
}

.form-margin {
	margin-top: 3em;
	margin-left: 1em;
	margin-right: 1.2em;
	margin-bottom: 3em;
}

.container-margin {
	margin-top: 2em;
}

.selector-option {
	width: 4.8em !important;
}

@media screen and (min-width : 1000px) {
	.btn-submit-padding {
		padding-top: 5em;
	}
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 45vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

@media screen and (max-width : 999px) {
	.btn-submit-padding {
		padding-top: 1.4em;
	}
}

.selected {
	background-color: white;
	color: blue;
	font-weight: bold;
}

.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

html, body,.container-table {
    height: 95%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

span.glyphicon-user {
    font-size: 5.2em;
}


