<meta charset="UTF-8" />
<br><br><br><br><br><br>
<div class="col-md-6">
	<div class="col-md-12">
		<label class="col-md-5">รหัสสินค้า</label>
		<div class="col-md-7">{{vm.prodSelected.prodCode}}</div>
	</div>
	<div class="col-md-12">
		<label class="col-md-5">รายละเอียดสินค้า</label>
		<div class="col-md-7">{{vm.prodSelected.prodDesc}}</div>
	</div>
</div>

<div class="col-md-6">
	<div class="vertical-center">
		<div class="container">
			<img alt="" ng-src="{{vm.prodSelected.prodImg}}"
				class="img-responsive">
		</div>
	</div>
</div>
